body {
  font-family: Arial, sans-serif;
  background-color: #f6e3c3;
  margin: 0;
  padding: 0;
  color: #5a2e1a;
}

header {
  text-align: center;
  padding: 20px;
}

header img {
  width: 80px;
}

h1 {
  margin: 5px 0;
  color: #a0381f;
}

.preco {
  background-color: #c48c41;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  margin: 10px 20px;
  border-radius: 5px;
}

section {
  margin: 15px;
}

h2 {
  font-size: 1.1em;
  border-bottom: 2px solid #a0381f;
  padding-bottom: 3px;
  margin-bottom: 5px;
  color: #a0381f;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 4px 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.controle-peso {
  display: flex;
  align-items: center;
  gap: 5px;
}

.controle-peso input {
  width: 60px;
  text-align: center;
}

.info {
  font-size: 0.85em;
  padding: 15px;
  background-color: #fcecd7;
  margin: 15px;
  border-radius: 5px;
}

.contato {
  text-align: center;
  margin: 20px;
  font-size: 1.1em;
  background-color: #a0381f;
  color: white;
  padding: 12px;
  border-radius: 8px;
}

.link-contato {
  color: white;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.link-contato:hover {
  text-decoration: none;
}
.valor-destaque {
  font-size: 1.6em;
  font-weight: bold;
}

.botao-whatsapp {
  display: block;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  padding: 15px 20px;
  background-color: #a53b22;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.botao-whatsapp:hover {
  background-color: #862f1b;
}

.pedido-info {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fdf1e7;
  border-radius: 10px;
  box-sizing: border-box;
}

.pedido-info label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #5a2a0a;
}

.pedido-info input,
.pedido-info select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#pix-feedback {
  margin-top: 5px;
  display: block;
  font-size: 0.85em;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
  display: block;
  height: 16px; /* para manter o espaço mesmo quando não tiver mensagem */
}

